// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "variables";

.ike-business-index-item {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-normal;
  width: 730px;
  height: 220px;
  margin: 0 auto;
  border-top: 1px solid $color-grey;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px),
    (max-width: 800px) {
    height: 250px;
  }
}

#last {
  margin: auto;
}

.ike-business-index-item img {
  width: 130px;
  height: 130px;
  margin-right: 15px;
  object-fit: fill;
}

.ike-business-list-name {
  color: $color-blue;
  font-size: $font-size-large;
  font-weight: bold;
}

.ike-business-list-name:hover {
  text-decoration: underline;
}

.ike-business-main-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px),
    (max-width: 800px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.ike-business-index-map {
  border: 1px solid $color-lightgrey;
  display: inline-flex;
  height: fit-content;
  position: sticky;
  margin: 20px 20px;
  top: 0;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px),
    (max-width: 800px) {
    position: relative;
  }
}

#map-container {
  padding: 20px;
  width: 300px;
  height: 300px;
}

.ike-business-review-and-stars {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  p {
    margin-left: 10px;
  }
}

.ike-business-tags > a {
  margin-left: 10px;
  color: $color-blue;
  font-size: $font-size-normal;
  &:hover {
    text-decoration: underline;
  }
}
