// Place all the styles related to the BusinessTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ike-business-show-main {
  background-color: #f5f5f5;
}

.ike-business-show-header {
  background-color: #d32323;
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  height: 40px;
  display: flex;
  justify-content: center;
}

.ike-active {
  transform: scale(2);
}
.ike-business-show-title {
  height: 200px;
  width: 300px;
  margin: 0 530px;
  display: block;
  padding: 10px;
}

.ike-business-show-title > h1 {
  font-size: 50px;
  font-weight: 900;
}

.ike-business-show-hours {
  width: 180px;
  height: 300px;
  border: 1px solid lightgrey;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 10px;
  margin: 20px -100px;
}

.ike-business-show-hours > h1 {
  color: #d32323;
  font-weight: bold;
}

.ike-business-show-reviews {
  width: 600px;
  height: 1000px;
  margin: 0 auto;
}

.ike-business-show-pics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.ike-business-show-pics > img {
  width: 240px;
  height: 240px;
}

.hovered {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px #888888;
}

.ike-business-show-rev {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  margin: 0 auto;
}

.ike-business-header-nav {
  display: flex;
  flex-wrap: wrap;
  background-color: #bd1f1f;
  color: white;
  justify-content: center;
}

.ike-business-header-nav > li {
  margin: 0 25px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  padding: 1px;
  padding-left: 25px;
  background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/icon.png");
  background-size: 25px 294px;
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  background-position-x: -2px;
}

.ike-business-header-nav > li:hover {
  background-color: rgba(51,51,51,0.3);
}

.ike-business-div-search {
  background-color: white;
  width: 623px;
  height: 35px;
  margin: 5px 20px;
  border-radius: 5px;
}

#logo-pic-business {
  width: 102px;
  height: 73px;
  margin: -7px;
}

#logo-pic-business-index {
  width: 102px;
  height: 73px;
  margin: -7px;
}


.ike-business-show-map {
  width: 290px;
  height: 350px;
  border: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;


}

#business-map-container {
  padding: 20px;
  width: 280px;
  height: 135px;
  border: 1px solid lightgray;
  align-self: center;
  margin-top: -65px;
  box-sizing: border-box;
}

.ike-business-show-map > p {
  margin-top: 10px;
  margin-left: 30px;
  width: 118px;
}

.ike-business-show-map > p:first-of-type {
  font-weight: bold;
  font-size: 18px;
}

.ike-business-show-map > p > a {
  color: #0073dd;
}


.ike-login-form-business {
  color: white;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 100px;
  width: 200px;
  justify-content: space-around;
  margin: -11px -162px;
  margin-left: 15px;
  position: relative;
}

.ike-signup-business-button {
  padding: 6px;
  background-color: #bd1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  border-radius: 5px;
  top: 17px;
  right: 49px;
  position: absolute;
}

.ike-signup-business-button:hover {
  background-color: rgba(51,51,51,0.3);
}

.ike-login-business-button {
  width: 86px;
  height: 20px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 67px;
  right: 55px;
  position: absolute;
}

.ike-login-business-button:hover {
  background-color: rgba(51,51,51,0.3);
}
