// Place all the styles related to the BusinessTypes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "variables";

$starSize: $font-size-large;
$imageSize: 240px;
$imageSize-small: 200px;
$imageSize-smaller: 180px;

.ike-business-show-header {
  background-color: $color-red;
  @include Flex;
  padding: $spacing-4 0;
  position: relative;
}
.ike-active {
  transform: scale(2);
}

.BusinessShow {
  background-color: $color-white;
  display: grid;
  grid-gap: $spacing-4;
  padding: $spacing-4;
  margin-bottom: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    ". title title . review review"
    ". map images images images images"
    ". reviews reviews reviews reviews hours";
  @include Breakpoint($breakpoint-1024) {
    grid-template-columns: repeat(6, auto);
  }
  &-titleSection {
    grid-area: title;
    &-name {
      font-size: $font-size-extraLarge;
    }
    &-starsAndReviews {
      display: flex;
      align-items: center;
      font-size: $font-size-normal;
      padding: $spacing-2 0;
      & > p {
        padding: $spacing-2;
      }
    }
    &-tags {
      font-size: $font-size-large;
      color: $color-blue;
      & > a:hover {
        text-decoration: underline;
      }
    }
  }
  &-writeReview {
    @include Flex;
    grid-area: review;
    justify-content: flex-start;
    &-link {
      @include Flex;
      font-size: $font-size-large;
      background-color: $color-red;
      border: 1px solid $color-grey;
      border-radius: $border-radius;
      color: $color-white;
      font-weight: bold;
      padding: $spacing-1 $spacing-5;
      &:hover {
        background-color: $color-redHover;
      }
      &:before {
        content: "";
        background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/icon.png");
        width: $starSize;
        height: $starSize;
        background-size: 100%;
      }
    }
  }

  &-map {
    grid-area: map;
    font-size: $font-size-normal;
    border: 1px solid $color-lightgrey;
    display: flex;
    flex-direction: column;
    background-color: $color-greyBackground;
    &-container {
      width: calc(100% - #{$spacing-2});
      height: 60%;
      margin: $spacing-1;
      border: 1px solid $color-lightgrey;
      align-self: center;
      box-sizing: border-box;
    }
    &-details {
      padding: $spacing-2;
      & a {
        color: $color-blue;
      }
    }
  }
  &-middle {
    grid-area: images;
    @include Flex;
    justify-content: flex-start;
    @include Breakpoint($breakpoint-768) {
      flex-wrap: nowrap;
    }
    &-image {
      width: $imageSize;
      height: $imageSize;
      object-fit: fill;
      @include Breakpoint($breakpoint-1268) {
        width: $imageSize-small;
        height: $imageSize-small;
      }
      @include Breakpoint($breakpoint-1024) {
        width: $imageSize-smaller;
        height: $imageSize-smaller;
      }
      &.is-hovered {
        transform: scale(1.1);
        box-shadow: 2px 2px 2px 2px $color-lightgrey;
        transition: 0.5s ease-in-out;
      }
    }
  }
  &-hours {
    grid-area: hours;
  }
  &-reviews {
    grid-area: reviews;
    @include Flex;
    font-size: $font-size-normal;
    flex-direction: column;
    &-item {
      @include Flex;
      width: 100%;
      border-bottom: 1px solid $color-grey;
      padding: $spacing-2;
      margin: $spacing-4 $spacing-1;
      &-details {
        @include Flex;
        flex-direction: column;
      }
      &-body {
        flex: 1;
        text-align: center;
        position: relative;
        &-removeIcon {
          color: $color-darkRed;
          position: relative;
          cursor: pointer;
        }
        &-removeIconTooltip {
          color: $color-white;
          position: absolute;
          padding: $spacing-1;
          text-align: center;
          background-color: $color-darkRed;
          border-radius: $border-radius;
          &.is-hidden {
            display: none;
          }
        }
      }
    }
  }
  &-hours {
    @include Flex;
    font-size: $font-size-normal;
    border: 1px solid $color-grey;
    padding: $spacing-2;
    margin-left: $spacing-4;
    h1 {
      color: $color-red;
    }
  }
}
