// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "variables";

$imageSize: 130px;
$mapSize: 300px;
$mapSize-small: 250px;

.BusinessIndex {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @include Breakpoint($breakpoint-900) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &-item {
    @include Flex;
    font-size: $font-size-normal;
    margin: 0 auto;
    border-top: 1px solid $color-grey;
    margin-top: $spacing-4;
    padding: $spacing-5;
    & img {
      width: $imageSize;
      height: $imageSize;
      margin-right: $spacing-4;
      object-fit: fill;
    }
    &-name {
      color: $color-blue;
      font-size: $font-size-large;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
    &-starsAndReviews {
      display: flex;
      flex-wrap: wrap;
      margin: $spacing-2 0;
      p {
        margin-left: $spacing-3;
      }
    }
    &-tags > a {
      margin-left: $spacing-3;
      color: $color-blue;
      font-size: $font-size-normal;
      &:hover {
        text-decoration: underline;
      }
    }
    &-details {
      margin: $spacing-5;
    }
  }

  &-map {
    border: 1px solid $color-lightgrey;
    position: sticky;
    transform: $translate-20;
    top: 0;
    margin-bottom: $spacing-5;
    @include Breakpoint($breakpoint-900) {
      flex-direction: column-reverse;
      align-items: center;
      position: relative;
    }
    &-container {
      padding: $spacing-5;
      width: $mapSize;
      height: $mapSize;
      @include Breakpoint($breakpoint-1268) {
        width: $mapSize-small;
        height: $mapSize-small;
      }
      @include Breakpoint($breakpoint-900) {
        width: $mapSize;
        height: $mapSize;
      }
    }
    &-content {
      width: 100px;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-image {
        width: 80%;
        height: 80%;
        object-fit: fill;
      }
      &-name {
        text-align: center;
        padding: $spacing-1;
        color: $color-blue;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
