.ike-footer-main  {

    display: flex;
    justify-content: space-around;
    background-color: #d3d3d3;
    align-items: baseline;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    height: 160px;
    background-image: image_url('footer_cityscape.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.ike-footer-list > li:first-child {
  color: #d32323;
  font-weight: bold;
  font-size: 19px;
}



.ike-footer-list > li {
  color: #0073bb;
}

.ike-footer-list > li > a:hover {
  text-decoration: underline;
}
