@import "colors";
@import "variables";

.Footer {
  display: flex;
  justify-content: space-around;
  background-color: $color-greyBackground;
  font-size: $font-size-normal;
  padding: $spacing-2;
  height: 100px;
  background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/footer_cityscape.png");
  background-repeat: no-repeat;
  background-position-y: -25px;
  background-position-x: center;
  border-top: 1px solid $color-grey;
  @include Breakpoint($breakpoint-768) {
    justify-content: space-between;
  }
  &-list-item {
    color: $color-blue;
    text-align: center;
    &:first-child {
      color: $color-red;
      font-weight: bold;
      font-size: $font-size-large;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
}
