.ike-homepage-header {
  height: 600px;
  background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ike-search-div-home {
  background-color: white;
  width: 850px;
  height: 45px;
  border-radius: 5px 5px 5px 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: relative;
}

.ike-search-div-business {
  background-color: white;
  width: 760px;
  height: 33px;
  border-radius: 5px 5px 5px 0;
  margin: 0 15px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
  position: relative;
}

#logo-pic {
  width: 225px;
  height: 196px;
  margin: -63px auto;
}

#find {
  font-weight: bolder;
  align-self: center;
  font-size: 21px;
  position: absolute;
  left: 5px;
}

#near {
  font-weight: bolder;
  align-self: center;
  font-size: 21px;
  position: absolute;
  left: 405px;
  border-left: 1px solid lightgray;
  padding: 7px;
}

#search-map {
  align-self: center;
  position: absolute;
  left: 475px;
}

.ike-search-input {
  align-self: center;
  width: 250px;
  position: absolute;
  left: 60px;
}

#search-button {
  align-self: center;
  position: absolute;
  right: 0;
}

.ike-search-list-home {
  width: 386px;
  background-color: white;
  position: absolute;
  top: 55px;
  padding: 10px;
  font-weight: bold;
  left: 0;
  border-top: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.ike-search-list-business {
  width: 386px;
  background-color: white;
  position: absolute;
  top: 43px;
  padding: 10px;
  font-weight: bold;
  left: 0;
  border-top: 1px solid lightgray;
  border-radius: 0 0 5px 5px;
}

.ike-search-list-home > li{
  padding: 5px;
  cursor: pointer;
}

.ike-search-list-business > li{
  padding: 5px;
  cursor: pointer;
}

.ike-login-form-home {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  position: relative;
  margin: -40px 1140px;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.ike-signup-home-button {
  width: 111px;
  height: 35px;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 60px;
  right: 45px;
}

.ike-signup-home-button:hover {
  background-color: white;
  color: grey;
}

.ike-login-home-button {
  width: 65px;
  height: 30px;
  padding-top: 50px;
  position: absolute;
  top: 20px;
  right: 180px;
  text-align: center;
}

.ike-login-home-button:hover {
  border-bottom: 2px solid white;
}

.ike-search-button-home {
  align-self: center;
  position: absolute;
  right: 0;
  width: 55px;
  height: 55px;
  background-color: #d32323;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0 5px 5px 0;
}

.ike-search-button-business {
  align-self: center;
  position: absolute;
  right: 0;
  width: 43px;
  height: 43px;
  background-color: #bd1f1f;
  display: flex;
  justify-content: center;
  color: white;
  border-radius: 0 5px 5px 0;
}

.ike-search-button-business:hover {
  background-color: #ab1e1e;
}

#ike-home-write-review {
  width: 120px;
  height: 30px;
  position: absolute;
  top: 28px;
  left: 500px;
  text-align: center;
  color: white;
  font-size: 17px;
  font-weight: bold;
}

#ike-home-write-review:hover {
  border-bottom: 2px solid white;
}

.ike-business-header-nav-home {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  margin-top: 20px;
}

.ike-business-header-nav-home > li {
  margin: 0 25px;
  cursor: pointer;
  width: fit-content;
  text-align: center;
  padding: 1px;
}

.ike-business-header-nav-home > li:hover {
  text-decoration: underline;
}
