@import "colors";
@import "variables";

$searchBarHeight: 50px;
$border-white: 2px solid $color-white;

.Header {
  @include Flex;
  flex-flow: column nowrap;
  height: 50vh;
  background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &-top {
    @include Flex;
    justify-content: space-between;
    width: 70vw;
    padding: $spacing-5;
    font-size: $font-size-normal;
    color: $color-white;
    text-shadow: $text-shadow;
    &-writeReviewButton {
      padding: $spacing-2;
      &:hover {
        border-bottom: $border-white;
      }
    }
    &-userGreeting {
      padding: $spacing-2;
      position: relative;
      &-business {
        font-size: $font-size-normal;
        color: $color-white;
      }
      &:hover {
        color: $color-red;
        text-shadow: none;
        background-color: $color-white;
        border-radius: $border-radius;
        cursor: pointer;
      }
      &-options {
        color: $color-blue;
        background-color: $color-white;
        border-radius: $border-radius;
        z-index: 5;
        position: absolute;
        width: 85%;
        padding: $spacing-2;
        left: 0;
        text-align: center;
      }
      .is-hidden {
        display: none;
      }
    }
    &-actionButtons {
      @include Flex;
      &-business {
        color: $color-white;
        font-weight: bold;
        font-size: $font-size-normal;
      }
      &-login {
        padding: $spacing-2;
        margin-right: $spacing-5;
        &:hover {
          border-bottom: $border-white;
        }
      }
      &-signup {
        padding: $spacing-2 $spacing-4;
        border: $border-white;
        border-radius: $border-radius;
        &:hover {
          background-color: $color-white;
          color: $color-red;
          text-shadow: 2px 2px 8px $color-grey;
        }
      }
    }
  }
  &-search {
    @include Flex;
    font-size: $font-size-normal;
    background-color: $color-white;
    min-width: 70vw;
    max-height: $searchBarHeight;
    border-radius: $border-radius;
    position: relative;
    @include Breakpoint($breakpoint-1024) {
      min-width: 50vw;
    }
    &-findSpan {
      font-weight: bolder;
      align-self: center;
      font-size: $font-size-large;
      padding: $spacing-3;
    }
    &-input {
      flex-grow: 1;
    }
    &-button {
      background-color: $color-darkRed;
      display: flex;
      justify-content: center;
      color: $color-white;
      border-radius: 0 5px 5px 0;
      height: $searchBarHeight;
      width: 5%;
      @include Breakpoint($breakpoint-1024) {
        width: 10%;
      }
      &:hover {
        background-color: $color-redHover;
      }
    }
    &-list {
      width: 100%;
      background-color: $color-white;
      position: absolute;
      top: $searchBarHeight;
      border-top: 1px solid $color-lightgrey;
      border-radius: $border-radius;
      z-index: 2;
      box-shadow: $box-shadow;
      & > li {
        padding: $spacing-3;
        cursor: pointer;
      }
    }
  }
  &-navbar {
    @include Flex;
    justify-content: space-around;
    color: $color-white;
    font-size: $font-size-normal;
    padding: $spacing-2;
    margin: $spacing-5;
    &-item {
      display: flex;
      position: relative;
      cursor: pointer;
      padding: $spacing-2;
      text-shadow: $text-shadow;
      &:hover {
        border-bottom: $border-white;
      }
    }
    &--business {
      background-color: $color-greyBackground;
      margin: 0;
      color: $color-blue;
      &-item {
        text-shadow: none;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        position: relative;
        svg {
          fill: $color-blue;
        }
        &:hover {
          svg {
            fill: $color-white;
          }
          background-color: $color-blue;
          color: $color-white;
          border-radius: $border-radius;
        }
      }
    }
  }
  &--business {
    background-color: $color-red;
    @include Flex;
    justify-content: space-around;
    position: relative;
  }
}
