@import "colors";
@import "variables";

$searchBarHeight: 50px;
$border-white: 2px solid $color-white;

.Header {
  @include Flex;
  flex-flow: column nowrap;
  height: 50vh;
  background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/food.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  &-top {
    @include Flex;
    justify-content: space-between;
    width: 70vw;
    padding: $spacing-5;
    font-size: $font-size-normal;
    color: $color-white;
    text-shadow: $text-shadow;
    &-writeReviewButton {
      padding: $spacing-2;
      &:hover {
        border-bottom: $border-white;
      }
    }
    &-userGreeting {
      padding: $spacing-2;
      position: relative;
      &-business {
        font-size: $font-size-normal;
        color: $color-white;
      }
      &:hover {
        color: $color-red;
        text-shadow: none;
        background-color: $color-white;
        border-radius: $border-radius;
        cursor: pointer;
      }
      &-options {
        color: $color-blue;
        background-color: $color-white;
        border-radius: $border-radius;
        z-index: 5;
        position: absolute;
        width: 85%;
        padding: $spacing-2;
        left: 0;
        text-align: center;
      }
      .is-hidden {
        display: none;
      }
    }
    &-actionButtons {
      @include Flex;
      &-business {
        color: $color-white;
        font-weight: bold;
        font-size: $font-size-normal;
      }
      &-login {
        padding: $spacing-2;
        margin-right: $spacing-5;
        &:hover {
          border-bottom: $border-white;
        }
      }
      &-signup {
        padding: $spacing-2 $spacing-4;
        border: $border-white;
        border-radius: $border-radius;
        &:hover {
          background-color: $color-white;
          color: $color-red;
          text-shadow: 2px 2px 8px $color-grey;
        }
      }
    }
  }
  &-logo {
    width: 60%;
    margin: 0 auto;
  }
  &-search {
    @include Flex;
    font-size: $font-size-normal;
    background-color: $color-white;
    width: 75vw;
    height: $searchBarHeight;
    border-radius: $border-radius;
    position: relative;
    &-findSpan {
      font-weight: bolder;
      align-self: center;
      font-size: $font-size-large;
      padding: $spacing-3;
    }
    &-input {
      flex-grow: 1;
    }
    &-button {
      background-color: $color-darkRed;
      display: flex;
      justify-content: center;
      color: $color-white;
      border-radius: 0 5px 5px 0;
      height: 100%;
      width: 6%;
      &:hover {
        background-color: $color-redHover;
      }
    }
    &-list {
      width: 100%;
      background-color: $color-white;
      position: absolute;
      top: $searchBarHeight;
      border-top: 1px solid $color-lightgrey;
      border-radius: $border-radius;
      z-index: 2;
      box-shadow: $box-shadow;
      & > li {
        padding: $spacing-3;
        cursor: pointer;
      }
    }
  }
  &-navbar {
    @include Flex;
    justify-content: space-between;
    color: $color-white;
    font-size: $font-size-normal;
    padding: $spacing-2;
    margin: $spacing-5;
    width: 80vw;
    &-item {
      position: relative;
      cursor: pointer;
      padding: $spacing-2;
      padding-left: $spacing-5;
      text-shadow: $text-shadow;
      &:hover {
        border-bottom: $border-white;
      }
      &:before {
        content: "";
        background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/icon.png");
        position: absolute;
        width: 30px; // TODO: update to SVGs
        height: 30px;
        left: -10px;
        background-size: 100%;
      }
      &:nth-of-type(1):before {
        background-position-y: 10%;
      }
      &:nth-of-type(2):before {
        background-position-y: 20%;
      }
      &:nth-of-type(3):before {
        background-position-y: 31%;
      }
      &:nth-of-type(4):before {
        background-position-y: 42%;
      }
      &:nth-of-type(5):before {
        background-position-y: 52%;
      }
      &:nth-of-type(6):before {
        background-position-y: 62%;
      }
    }
    &--business {
      background-color: $color-greyBackground;
      width: 100vw;
      margin: 0;
      color: $color-blue;
      justify-content: space-evenly;
      &-item {
        text-shadow: none;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        position: relative;
        &:hover {
          background-color: $color-blue;
          color: $color-white;
          border-radius: $border-radius;
        }
      }
    }
  }
  &--business {
    background-color: $color-red;
    @include Flex;
    justify-content: space-around;
    padding: $spacing-4 0;
    position: relative;
    &-logo {
      width: 100px;
    }
  }
}
