@import 'colors';

#content {
  width: 200px;
  height: 120px;
  display: flex;
  flex-direction: row;
  div {
    text-align: center;
    padding: 5px;
    img {
      width: 80px;
      height: 80px;
      object-fit: fill;
    }
    a {
      color: $color-blue;
      font-size: 14px;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
