@import "colors";
@import "variables";

.JoinIke {
  &-header {
    background-color: $color-red;
    padding: $spacing-1;
    &-logo {
      height: 100px;
      object-fit: contain;
    }
  }
  &-main {
    background-image: url("https://s3.amazonaws.com/project-ike-seeding-dev/login.jpg");
    background-repeat: no-repeat;
    background-position-x: 800px;
    background-position-y: center;
    background-size: 40%;
    @include Breakpoint($breakpoint-768) {
      background-image: none;
    }
    &-errors {
      background: $color-pink;
      margin: 0 auto;
      text-align: center;
      font-size: $font-size-normal;
    }
    &-form {
      @include Flex;
      width: 50vw;
      height: 75vh;
      flex-direction: column;
      @include Breakpoint($breakpoint-768) {
        width: auto;
      }
      a {
        font-size: $font-size-small;
        margin-left: 200px;
        color: $color-red;
      }
      h1 {
        font-size: $font-size-larger;
        color: $color-red;
      }
      &-privacy {
        width: 200px;
        text-align: center;
      }
      &-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 350px;
        margin-top: $spacing-3;
        font-size: $font-size-large;
        input {
          width: 100%;
          margin-top: $spacing-3;
          border: 1px solid $color-grey;
          border-radius: $border-radius;
          margin-left: $spacing-3;
          padding: $spacing-3;
        }
        input:nth-last-child(2) {
          background-color: $color-red;
          text-align: center;
          color: $color-white;
          font-weight: bold;
        }
        input:last-child {
          background-color: $color-blue;
          text-align: center;
          color: $color-white;
        }
        select {
          width: calc(33% - #{$spacing-5});
          margin: $spacing-2;
          border: 1px solid $color-grey;
          border-radius: $border-radius;
          color: $color-grey;
        }
      }
    }
  }
}
