@import "colors";
@import "variables";

.PopularBusinesses {
  &-wrapper {
    @include Flex;
    font-size: $font-size-normal;
    @include Breakpoint($breakpoint-768) {
      flex-direction: column;
    }
    &-item {
      @include Flex;
      width: 30%;
      border: 1px solid $color-grey;
      margin: $spacing-5;
      @include Breakpoint($breakpoint-768) {
        width: 65%;
        flex-direction: column;
      }

      & img {
        width: calc(100% - #{$spacing-2});
        height: 200px;
        object-fit: cover;
        padding: $spacing-2;
        @include Breakpoint($breakpoint-768) {
          object-fit: contain;
        }
      }
      & a {
        color: $color-blue;
        font-size: $font-size-large;
        font-weight: bold;
        padding: $spacing-2;
      }
      & > div {
        @include Flex;
        width: 100%;
      }
      & p {
        padding: $spacing-2;
      }
    }
  }
  &-title {
    text-align: center;
    font-size: $font-size-larger;
    color: $color-red;
    font-weight: bold;
    margin: $spacing-4;
    padding: $spacing-2;
  }
}
