@import 'colors';

.ike-div-review-main-list {
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  grid-auto-rows: 255px;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px), (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.ike-review-main-list {
  border: 1px solid $color-grey;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  > li {
    padding: 5px;
    &:first-child, &:nth-child(2) {
      font-weight: bold;
      font-size: 19px;
      color: $color-blue;
      border-bottom: 1px solid $color-grey;
      margin-bottom: 5px;
    }
    &:last-child {
      overflow: hidden;
      margin-top: 1rem;
    }   
    &:nth-of-type(3) {
      display: flex;
      justify-content: space-between;
    }
  }
}

#ike-recent-reviews, #ike-popular-businesses {
    text-align: center;
    font-size: 25px;
    color: $color-red;
    font-weight: bold;
    margin: 15px;
    padding: 10px;
}

#show-more {
  font-weight: 900;
  font-size: 2rem;
  color: $color-blue;
  margin-right: 3px;
}
