@import "colors";
@import "variables";

.ike-review-form-header {
  height: 80px;
  background-color: $color-red;
  display: flex;
  h3 {
    color: $color-white;
    font-size: $font-size-larger;
    margin: 18px -214px;
  }
}

#ike-review-logo {
  width: 142px;
  margin: -14px 216px;
  height: 115px;
}

.ike-review-form {
  height: 600px;
}

.ike-review-form-wrapper {
  border: 2px solid $color-grey;
  border-radius: 5px;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
}

.ike-review-form-body {
  font-size: $font-size-large;
  padding: 30px;
}

.ike-review-rating {
  padding: 30px;
}

.ike-review-form-button {
  color: $color-white;
  font-weight: bold;
  background-color: $color-red;
  border: 1px solid $color-grey;
  border-radius: 5px;
  margin: -66px 204px;
  width: 200px;
  font-size: $font-size-large;
  text-align: center;
  padding: 8px;
}

.ike-review-errors {
  color: $color-red;
  display: flex;
  flex-direction: column;
  margin: 60px 30px;
  font-size: $font-size-large;
}

#rating-message {
  font-size: $font-size-normal;
  display: inline;
  margin-left: 1.5rem;
}
