@import "colors";
@import "variables";

.ReviewForm {
  &-header {
    @include Flex;
    background-color: $color-red;
    & img {
      width: 50%;
    }
  }
  &-main {
    @include Flex;
    flex-flow: column nowrap;
    border: 2px solid $color-grey;
    border-radius: $border-radius;
    height: 50vh;
    width: 50vw;
    padding: $spacing-5;
    margin: $spacing-5 auto;
    &-title {
      font-size: $font-size-larger;
      color: $color-red;
      padding: $spacing-2 $spacing-5;
    }
    &-stars {
      transform: $translate-20;
      margin-bottom: $spacing-5;
      &-message {
        font-size: $font-size-normal;
        display: inline;
        margin-left: $spacing-4;
      }
    }
    &-body {
      font-size: $font-size-large;
      padding: $spacing-5;
      width: 100%;
    }
    &-button {
      color: $color-white;
      font-weight: bold;
      background-color: $color-red;
      border: 1px solid $color-grey;
      border-radius: $border-radius;
      font-size: $font-size-large;
      padding: $spacing-2 $spacing-5;
      &:hover {
        background-color: $color-darkRed;
      }
    }
    &-errors {
      color: $color-red;
      font-size: $font-size-large;
      padding: $spacing-5;
    }
  }
}
