@import "colors";
@import "variables";

$starWidth: 1.6rem;

@mixin star {
  color: $color-white;
  margin-left: $spacing-1;
  border-radius: $border-radius;
  background-color: $color-red;
}
.red-star {
  @include star;
}

.grey-star {
  @include star;
  background-color: $color-grey;
}

.fa {
  width: $starWidth;
  height: $starWidth;
  padding: $spacing-2;
  font-size: $font-size-normal;
}

.ike-review-stars {
  display: inline-block;
  transform: $translate-20;
}
