.red-star {
  color: white;
  margin-left: 5px;
  background-color: #d32323;
  border-radius: 3px;
}

.grey-star {
  color: white;
  margin-left: 5px;
  background-color: #d3d3d3;
  border-radius: 3px;
}

.fa {
  width: 16px;
  height: 16px;
  padding: 5px;
}

.ike-review-stars {
  display: inline-block;
  margin: 28px 39px;
}
