@import 'colors';

.red-star {
  color: white;
  margin-left: 5px;
  background-color: $color-red;
  border-radius: 3px;
}

.grey-star {
  color: white;
  margin-left: 5px;
  background-color: $color-grey;
  border-radius: 3px;
}

.fa {
  width: 18px;
  height: 17px;
  padding: 5px;
}

.ike-review-stars {
  display: inline-block;
  margin: 28px 39px;
}
